*{
    text-decoration: none;
}
body{
    background-color:#0f172a;
    color: white;
}
header{
    display: flex;
    color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
a{
    color: white;
}
.logo{
    font-size:medium ;
    font-weight: 700;
    color: #fff;
    padding-left: 80px;
}
.logo span{
    color: #6c63ff;
}
.btn{
    border-radius: 25%;
    padding: 12px;
    color: #fff;
    background-color:#6c63ff ;
}