body{
    background-color:gainsboro;
}
header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 10px;
}
a{
    color: aliceblue;
    text-decoration: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}
.bun{
 height: 40vh;
 background:url(https://www.scottsmorraphotography.com/images/960/Hawaiian-Paradise-Makena-Cove-Sunset1-2048.webp) center/cover;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.why{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
.two {
    display:flex;
    height: 100vh;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    margin-bottom: 102px;
}
.why img {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.who{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: aliceblue;
}
.why:hover img{
    gap: 5px;
    transform: scale(1.1);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.me{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}